[Desktop Entry]
Name=McSur-dark
X-KDE-PluginInfo-Author=yeyushengfan258
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=yeyushengfan258@outlook.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=McSur-dark
X-KDE-PluginInfo-Version=.0.4
X-KDE-PluginInfo-Website=

[Wallpaper]
defaultWallpaperTheme=McSur-dark
defaultFileSuffix=.png
defaultHeight=1080
defaultWidth=1920
